@mixin runningdb-button {

  .v-button-defaultButton:focus {
    @include defaultButton;
  }

  .v-button-defaultButton {
    @include defaultButton;
  }

  .v-button-defaultButton.v-disabled {
    @include defaultButton;
  }

  .v-button-downloadTrainingLogButton:focus {
    @include downloadTrainingLogButton;
  }

  .v-button-downloadTrainingLogButton {
    @include downloadTrainingLogButton;
  }

  .v-upload .v-button:focus {
    @include uploadTrainingLogButton;
  }

  .v-upload .v-button {
    @include uploadTrainingLogButton;
  }

}

@mixin defaultButton {
  background: none repeat scroll 0 0 $buttonBackgroundColor;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid $buttonBorderColor;
  padding: 1px 0 0 0;
  box-shadow: 2px 2px 5px $buttonShadowColor;
  margin: 5px; 

  .v-button-wrap {
    background: none repeat scroll 0 0;

    .v-button-caption {
      color: $buttonTextColor;
      text-transform:uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: none;
      font-size: 12px;
    }

  }

}

@mixin downloadTrainingLogButton {
  background: none repeat scroll 0 0 $buttonBackgroundColor;
  width: 600px;
  height: 190px;
  margin: 75px 10px 10px 90px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $buttonBorderColor;
  box-shadow: 2px 2px 5px $buttonShadowColor;

  .v-button-wrap {
    background: none repeat scroll 0 0;

    img.v-icon {
      margin-right: 50px;
    }

    .v-button-caption {
      color: $buttonTextColor;
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: none;
      font-size: 36px;
      line-height: 128px;
    }

  }
}

@mixin uploadTrainingLogButton {
  background: $buttonBackgroundColor;
  background-image: url("../icons/upload.png");
  background-position: 60px 27px;
  background-repeat: no-repeat;
  width: 600px;
  height: 190px;
  margin: 75px 10px 10px 90px;
  padding: 14px 0px 0px 125px;
  border-radius: 5px;
  border: 1px solid $buttonBorderColor;
  box-shadow: 2px 2px 5px $buttonShadowColor;

  .v-button-wrap {
    background: none repeat scroll 0 0;

    .v-button-caption {
      color: $buttonTextColor;
      font-weight: bold;
      letter-spacing: 1px;
      text-shadow: none;
      font-size: 36px;
      line-height: 128px;
    }

  }
}

