@mixin runningdb-button {

  .v-button-defaultButton:focus {
    @include defaultButton;
  }

  .v-button-defaultButton {
    @include defaultButton;
  }

  .v-button-downloadTrainingLogButton:focus {
    @include downloadTrainingLogButton;
  }

  .v-button-downloadTrainingLogButton {
    @include downloadTrainingLogButton;
  }

  .v-upload .v-button:focus {
    @include uploadTrainingLogButton;
  }

  .v-upload .v-button {
    @include uploadTrainingLogButton;
  }

}

@mixin defaultButton {
  background: none repeat scroll 0 0 $componentBackgroundColor;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding: 3px 0 0 0;

  .v-button-wrap {
    background: none repeat scroll 0 0;

    .v-button-caption {
      color:$componentForegroundColor;
      text-shadow: none;
      font-weight: bold;
      font-size: 12px;
    }

  }

}

@mixin downloadTrainingLogButton {
  @include defaultButton;
  width: 400px;
  margin: 100px;
}

@mixin uploadTrainingLogButton {
  @include defaultButton;
  width: 400px;
  margin: 100px;
}