@mixin runningdb-panel {

  .v-panel-defaultPanel {
    .v-panel-content-defaultPanel {
      background: none repeat scroll 0 0 $backgroundColor;
      padding: 0px 0px 0px 0px;
      border-width: 0px;
    }

    .v-panel-deco-defaultPanel {
      display: none;
    }
  }


}

