@mixin runningdb-select {

  div.v-filterselect {
    @include genericFilterSelect($selectBackgroundColor, $selectBorderColor, $selectTextColor, url("../de_zaunkoenigweg_runningdb/icons/dropdown-icon-large.png"));
    box-shadow: 2px 2px 5px $selectShadowColor;
    margin: 5px 20px 5px 5px;
  }
  
  div.v-filterselect-suggestpopup {
    @include genericFilterSelectSuggestPopup($selectBackgroundColor, $selectBorderColor, $selectTextColor, $selectPopupTextColor, $selectPopupBackgroundColor);
  }
  
  div.v-filterselect-inPopupWindow {
    @include genericFilterSelect($popupWindowSelectBackgroundColor, $popupWindowSelectBorderColor, $popupWindowSelectTextColor, url("../de_zaunkoenigweg_runningdb/icons/dropdown-icon-large.png"));
    box-shadow: none;
    margin: 0;
  }
  
  div.v-filterselect-suggestpopup-inPopupWindow {
    @include genericFilterSelectSuggestPopup($popupWindowSelectBackgroundColor, $popupWindowSelectBorderColor, $popupWindowSelectTextColor, $popupWindowSelectPopupTextColor, $popupWindowSelectPopupBackgroundColor);
  }
  
}

@mixin genericFilterSelect($backgroundColor, $borderColor, $textColor, $icon) {

    width: 300px;
    background: none repeat scroll 0 0 $borderColor;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $borderColor;
    padding-left: 0px;
     
    input.v-filterselect-input:focus {
      @include genericSelectInput($backgroundColor, $borderColor, $textColor);
    }
    input.v-filterselect-input:hover {
      @include genericSelectInput($backgroundColor, $borderColor, $textColor);
    }
    input.v-filterselect-input {
      @include genericSelectInput($backgroundColor, $borderColor, $textColor);
    }
    div.v-filterselect-button:hover {
      @include genericSelectButton($icon);
    }
    div.v-filterselect-button:focus {
      @include genericSelectButton($icon);
    }
    div.v-filterselect-button {
      @include genericSelectButton($icon);
    }

}  
  
@mixin genericFilterSelectSuggestPopup($backgroundColor, $borderColor, $textColor, $popupTextColor, $popupBackgroundColor) {

    background: none repeat scroll 0 0 $backgroundColor;
    border: 1px solid $borderColor;
    border-radius: 5px;
    overflow: hidden;
    letter-spacing: 1px;
    color: $textColor;
    .gwt-MenuItem-selected {
      color: $popupTextColor;
      background: none repeat scroll 0 0 $popupBackgroundColor;
      text-shadow: none;
    }
  
}

@mixin genericSelectInput($backgroundColor, $borderColor, $textColor) {
  background: none repeat scroll 0 0 $backgroundColor;
  width: 270px;
  height: 30px;
  margin: -1px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid $borderColor;
  letter-spacing: 1px;
  color: $textColor;
}

@mixin genericSelectButton($icon) {
  background: none;
  background-image: $icon;
  background-position: 4px 5px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 3px;
  margin-top: 1px;
}


