@mixin runningdb-records-ui {

  .v-filterselect-recordsUiSelectRecordDistance {
    background: none repeat scroll 0 0 $componentBackgroundColor;
    margin: 0 0 20px 0;
    height: 30px;
    padding-left: 0px;
    border-radius: 5px;
    input.v-filterselect-input {
      padding: 6px 0 4px 12px;
      height: 30px;
      background: none repeat scroll 0 0 $componentBackgroundColor;
      font-weight: bold;
      font-size: 12px;
      font-color: $componentForegroundColor;
      border-radius: 5px;
    }

    div.v-filterselect-button:hover {
      @include recordsUiSelectRecordDistanceButton;
    }
    
    div.v-filterselect-button:focus {
      @include recordsUiSelectRecordDistanceButton;
    }
    
    div.v-filterselect-button {
      @include recordsUiSelectRecordDistanceButton;
    }

  }

  div.v-table-recordsUiRecordRunTable {
  
    font-weight: bold;
    font-size: 12px;
    color: $textColor;
    text-shadow: none;
    text-transform: none;
    border-radius: 5px;
    border-collapse: collapse;
    
    div.v-table-header-wrap {
    
      div.v-table-resizer {
        display: none;
      }
      
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: none;
      font-weight: bold;
      font-size: 12px;
      color: $textColor;
      text-shadow: none;
      text-transform: none;
      padding: 10px 0px;
    }
    
    div.v-table-body {
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: none;

      .v-table-cell-wrapper {
        margin: 5px 0px;
      }

      .v-table-row {
        background: none;
      }

      .v-table-row-odd {
        background: none;
      }

    }
  }

}

@mixin recordsUiSelectRecordDistanceButton {
  background-image: url("../../de_zaunkoenigweg_runningdb/icons/arrow-down.png");
  background-position: 1px 6px;
  background-repeat: no-repeat;
  cursor: default;
  height: 35px;
  margin-right: -25px;
  width: 25px;
}

