@mixin runningdb-constants {

  $darkBlueWithHighSaturation: #00394D;
  $lightestGray: #F0F0F0;
  $silver: #C0C0C0;

  $popupBackgroundColor: $lightestGray;
  $popupHeaderBackgroundColor: $darkBlueWithHighSaturation;
  $popupTextColor: $darkBlueWithHighSaturation;
  
  $componentBackgroundColor: $silver;
  $componentForegroundColor: $darkBlueWithHighSaturation;
  $componentBorderColor: $silver;

  $mainMenueBackgroundColor: black;
  $mainMenueTextColor: $lightestGray;

  $lightTableTextColor: purple;
}