@mixin runningdb-constants {

  /* color value constants */
  $lightestGray: #F0F0F0;
  $track: #712a24;

  /* components/window */
  $popupBackgroundColor: $lightestGray;
  $popupHeaderBackgroundColor: black;
  $popupTextColor: black;
  
  /* views/mainmenue */
  $mainMenueBackgroundColor: black;
  $mainMenueTextColor: $lightestGray;

  /* components/button */
  $buttonBackgroundColor: $track;
  $buttonBorderColor: white;
  $buttonTextColor: white;
  $buttonShadowColor: black;

  /* components/select */
  $selectBackgroundColor: $track;
  $selectBorderColor: white;
  $selectShadowColor: black;
  $selectTextColor: white;
  $selectPopupTextColor: $track;
  $selectPopupBackgroundColor: white;
  $selectShadowColor: black;


  /* oldstuff, deprecated */
  $lightTableTextColor: purple;
  
}