/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin de_zaunkoenigweg_runningdb {
  /* Include all the styles from the reindeer theme */
  @include reindeer;



	.v-panel-mainmenue .v-panel-content {
		background: none repeat scroll 0 0 black;
		padding:0px;
	}

	.v-button-menuebutton:focus {
		background: none repeat scroll 0 0 black;
	}

	.v-button-menuebutton {
		background: none repeat scroll 0 0 black;
		padding:10px;
		height: 110px;
		width: 200px;
	}

	.v-button-menuebutton:focus .v-button-wrap {
		height: 90px;
		padding: 0px;
		background-image: url("../de_zaunkoenigweg_runningdb/icons/tagebuch_sw.png");
    	background-position: 65px 5px;
    	background-repeat: no-repeat;
	}

	.v-button-menuebutton .v-button-wrap {
		height: 90px;
		padding: 0px;
		background-image: url("../de_zaunkoenigweg_runningdb/icons/tagebuch_sw.png");
    	background-position: 65px 5px;
    	background-repeat: no-repeat;
	}

	.v-button-menuebutton .v-button-wrap:hover {
		height: 90px;
		padding: 0px;
		background-image: url("../de_zaunkoenigweg_runningdb/icons/tagebuch.png");
    	background-position: 65px 5px;
    	background-repeat: no-repeat;
	}

	.v-button-menuebutton .v-button-wrap .v-button-caption {
		color:#999;
		text-shadow: none;
		position: relative;
		top: 62px;
		display:block;
		text-transform:uppercase;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 12px;
	}

	.v-button-menuebutton .v-button-wrap:hover .v-button-caption {
		color:#EEE;
	}



}
