/* Import the reindeer theme. */
@import "../reindeer/reindeer.scss";

/* Imports from RunningDB Theme. */
@import "views/mainmenue.scss";

/* RunningDB Theme */
@mixin de_zaunkoenigweg_runningdb {

  /* global constants */ 
  $schoenesDunklesBlau: #00134D;
  $appBackgroundColor: $schoenesDunklesBlau;
  $textColor: white;
  
  /* Include all the styles from the reindeer theme */
  @include reindeer;
  
  /* Includes from RunningDB Theme. */
  @include runningdb-mainmenue;

  /* UI */
  .v-ui {
    background-color: $appBackgroundColor;
   }
   
  /* Caption */
  .v-caption {
    color: $textColor;
  } 
   

}