/* Import the reindeer theme. */
@import "../reindeer/reindeer.scss";

/* Imports from RunningDB Theme. */
@import "constants.scss";
@import "views/mainmenue.scss";
@import "views/records-ui.scss";
@import "components/button.scss";
@import "components/panel.scss";
@import "components/table.scss";
@import "components/window.scss";

/* RunningDB Theme */
@mixin de_zaunkoenigweg_runningdb {

  /* Include all the styles from the reindeer theme */
  @include reindeer;
  
  /* Includes from RunningDB Theme. */
  @include runningdb-constants;
  @include runningdb-mainmenue;
  @include runningdb-records-ui;
  @include runningdb-button;
  @include runningdb-panel;
  @include runningdb-table;
  @include runningdb-window;

  /* UI */
  .v-ui {
    background-color: $backgroundColor;
   }
   
  /* Caption */
  div.v-caption {
    color: $textColor;
  }
  
  div.v-window-popupWindow div.v-caption {
    color: $popupTextColor;
  }
  
  .v-inline-datefield {
    margin: 0 0 20px 0;
  }

}